{% extends 'includes/include.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="../../static/css/dataset.css">
</head>
{% include "includes/sidebar.html" %}

<div class="container">
    <div class="daftarKaryawan">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="post" action="/daftarKaryawan">
            <div class="d-flex">
                <input class="form-control" type="text" name="karyawan" placeholder="Nama Karyawan" required>
                <a href="/tambahData" style="margin-left:21px;">
                    <button type="submit" class="btn btn-primary">Tambah Data</button>
                </a>
            </div>
        </form>
        <h3 style="color:#333;margin-top:40px;font-weight:500">Daftar Karyawan</h3>
        <table style="margin-top:20px" class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nama Lengkap</th>
                </tr>
            </thead>
            <tbody>
                {% for data in karyawan %}
                <tr>
                    <td>{{data.nama_lengkap}}</td>
                    <td width="100">
                        <a href="/hapusTamu/{{data.id}}">
                            <i style="font-size:16px" class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}